---
import Layout from '../layouts/Layout.astro';

import {info} from '../data/info.js'

import Hero from '../components/Hero.astro';
import ProjectsContainer from '../components/ProjectsContainer.astro';

const featuredProjects = info.projects.reduce((accumulator, project) => {
    if (accumulator.length < 6 && project.isFeatured) {
        accumulator.push(project)
    }
    return accumulator
}, [])


---

<Layout title="Poncho Ramos|Frontend Developer">
    <Hero />
    <section>
        <h2 class="w-[15rem] dark:text-white mt-16">
            FEATURED PROJECTS
        </h2>
        <ProjectsContainer projects={featuredProjects}/>
    </section>
</Layout>
