<section>
    <h1 class="dark:text-white text-6xl my-8 font-semibold">Poncho Ramos</h1>
    <p class="dark:text-white text-lg mb-8">
        Mexican Junior web developer, lover of coffee and programming. I use React and Vue to create frontend projects, I'm constantly training and learning to improve my professional mind.
    </p>
</section>