<section>
    <h1 class="dark:text-white text-6xl my-8 font-semibold">Poncho Ramos</h1>
    <p class="dark:text-white text-lg mb-10">
        Mexican Junior web developer, lover of coffee and programming. I use MERN and PERN stack to create fullstack projects, I'm constantly training and learning to improve my professional mind.
    </p>
    <a 
        href="https://cv.ponchoramos.com/"
        class="dark:bg-white dark:text-midnight text-white bg-midnight font-black py-4 px-5 rounded-lg "
        >
        Check my CV
    </a>
</section>