---

---
<header class="container flex items-center justify-between h-20 ">
    <a class="text-2xl dark:text-white font-semibold dark:font-semibold" href="/">PR</a>
    <nav>
        <ul class="flex items-center ">
            <li>
                <a class="p-4 dark:text-white block text-lg" href="https://blogponchoramos.netlify.app/">Blog</a>
            </li>
            <li>
                <a class="p-4 dark:text-white block text-lg" href="/projects">Projects</a>
            </li>
            <li>
                <button
                    aria-label="theme-button"
                    id="theme-button"
                    class="dark:bg-secondary rounded-xl bg-borders bg-opacity-30 dark:bg-opacity-35 p-2"
                ></button>
            </li>
        </ul>
    </nav>
</header>
<script is:inline>
    const moon = '<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <path d="M3.32031 11.6835C3.32031 16.6541 7.34975 20.6835 12.3203 20.6835C16.1075 20.6835 19.3483 18.3443 20.6768 15.032C19.6402 15.4486 18.5059 15.6834 17.3203 15.6834C12.3497 15.6834 8.32031 11.654 8.32031 6.68342C8.32031 5.50338 8.55165 4.36259 8.96453 3.32996C5.65605 4.66028 3.32031 7.89912 3.32031 11.6835Z" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </svg>'
    
    const sun = '<svg width="20px" height="20px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"> <g id="SVGRepo_bgCarrier" stroke-width="0"/> <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/> <g id="SVGRepo_iconCarrier"> <path d="M12 3V4M12 20V21M4 12H3M6.31412 6.31412L5.5 5.5M17.6859 6.31412L18.5 5.5M6.31412 17.69L5.5 18.5001M17.6859 17.69L18.5 18.5001M21 12H20M16 12C16 14.2091 14.2091 16 12 16C9.79086 16 8 14.2091 8 12C8 9.79086 9.79086 8 12 8C14.2091 8 16 9.79086 16 12Z" stroke="#F5F1ED" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g> </svg>'

    const themeButton = document.getElementById("theme-button");
    const browserTheme = document.querySelector('[name="theme-color"]');
    let isDark;
    const theme = (() => {
        if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
        return localStorage.getItem("theme");
        }
        if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
        return "dark";
        }
        return "light";
    })();

    if (theme === "light") {
        document.documentElement.setAttribute("data-theme", "light");
        isDark = true;
        themeButton.innerHTML = moon;
        browserTheme.content = "#FFFFFF";
    } else {
        document.documentElement.setAttribute("data-theme", "dark");
        isDark = false;
        themeButton.innerHTML = sun;
        browserTheme.content = "#111111";
    }
    window.localStorage.setItem("theme", theme);

    const darkModeHandler = () => {
        if (isDark) {
        document.documentElement.setAttribute("data-theme", "dark");
        localStorage.theme = "dark";
        isDark = false;
        themeButton.innerHTML = sun;
        browserTheme.content = "#111111";
        } else {
        document.documentElement.setAttribute("data-theme", "light");
        localStorage.theme = "light";
        isDark = true;
        themeButton.innerHTML = moon;
        browserTheme.content = "#FFFFFF";
        }
    };

    themeButton.addEventListener("click", darkModeHandler);
</script>